# Web Application Environment Variables
NODE_ENV = development
CLIENT_PORT = 3000
SERVER_PORT = 3000

# MongoDB Environment Variables

DB_CLIENT_PORT = 27017
MONGO_ROOT_USER = admin
MONGO_ROOT_PASSWORD = admin
MONGO_INITDB_DATABASE = bookbix
MONGO_INITDB_USER = user
MONGO_INITDB_PWD = password


# Email Environment Variables(personal email for test)
MAIL_HOST=sandbox.smtp.mailtrap.io # use mailtrap for testing might change to another
MAIL_USER=SMTP_USER
MAIL_PASSWORD= SMTP_PASS
MAIL_FROM= email

# optional
MAIL_TRANSPORT=smtp://${MAIL_USER}:${MAIL_PASSWORD}@${MAIL_HOST}
